body{
    background-color:white;
    width: 100%;
    overflow: initial;
    
    
}
.first{
    width: 102%;
    height: 154px;
    background-color: #666666;
    margin-left: 0px;
    margin-top: -9px;
    position: relative;
    top: -12px;

    
}
.head1{
    position: relative;
    top: 22px;
    left: 193px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.para1{
    position: relative;
    top: 18px;
    left: 193px;
    color: aliceblue;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ok{
    position: relative;
    top: 24px;
    left: 193px;
    color: aliceblue;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.arrow {
    border: solid aliceblue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    top: -10px;
    left: 230px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
 .privacy{
    position: relative;
    top: -42px;
    left: 272px;
    color: aliceblue;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .arrow1 {
    border: solid aliceblue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    top: -74px;
    left: 365px;
  }
  .right1 {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .x{
    position: relative;
    top: -210px;
    left: 1140px;
    padding-left: 11px;
    padding-top: 0px;
    margin-top: 10px;
    margin-left: 78px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid white;
    width: 15px;
    height: 25px;
   color: aliceblue;

    
  }
  .logo{
    width: 92px;
    height: 41px;
    position: relative;
    top: -2px;
    left: 88px;
  }
  .table{
    position: relative;
    top: -37px;
    left: 203px;
    color: #666666;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .search{
    position: relative;
    top: -65px;
    left: 1261px;
    width: 20px;
    height: 30px;
  }
 .img1{
    width: 1550px;
    position: relative;
    top: -53px;
    left: -5px;
 }
 .head{
    font-size: 44px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: relative;
    top: -293px;
    left: 79px;
    font-weight: 100;
    width: 168px;
    
 }
 .para2{
    font-size: 17px;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: relative;
    top: -319px;
    left: 79px;
    font-weight: bold; 
     font-size: 17px;
    width: 168px;
    

 }
 .box{
    color: black;
    background-color: white;
    width: 152px;
    height: 34px;
    text-align: center;
    position: relative;
    top: -314px;
    left: 81px;
    padding-top: 17px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .para3{
    position: relative;
    top: -256px;
    left: 88px;
    text-decoration: underline;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
  .line{
    width: 1px;
    height: 95px;
    background-color: #666666;
    position: relative;
    top: -241px;
    left: 80px;
  }
  .arrow3 {
    border: solid #666666;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    position: relative;
    top: -317px;
    left: 47px;
  }
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .car1{
    position: relative;
    top: -413px;
    left: 100px;
    width: 237px;
    height: 115px;
    float: left;
  }
  .car2{
    position: relative;
    top: -413px;
    left: 117px;
    width: 237px;
    height: 115px;
    float: left;
  }
  .car3{
    position: relative;
    top: -413px;
    left: 117px;
    width: 237px;
    height: 115px;
    float: left;
  }
  .car4{
    position: relative;
    top: -413px;
    left: 117px;
    width: 237px;
    height: 115px;
    float: left;
  }
  .car5{
    position: relative;
    top: -413px;
    left: 117px;
    width: 237px;
    height: 115px;
    float: left;
  }
  .car6{
    position: relative;
    top: -413px;
    left: 117px;
    width: 237px;
    height: 115px;
    float: left;
  }
  .line2{
    width: 1px;
    height: 95px;
    background-color: #666666;
    position: relative;
    top: -395px;
    left: 1540px;
  }
  
  .arrow4 {
    border: solid #666666;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    position: relative;
    top: -460px;
    left: 119px;
  }
  .right4 {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .name1{
    position: relative;
    top: -460px;
    left: 190px;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #666666;
    float: left;
  }
  .name2{
    position: relative;
    top: -460px;
    left: 400px;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #666666;
    float: left;
  }
  .name3{
    position: relative;
    top: -460px;
    left: 580px;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #666666;
    float: left;
  }
  .name4{
    position: relative;
    top: -460px;
    left: 800px;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #666666;
    float: left;
  }
 
  .name5{
    position: relative;
    top: -460px;
    left: 1010px;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #666666;
    float: left;
  }
  .name6{
    position: relative;
    top: -460px;
    left: 1220px;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #666666;
    float: left;
  }
  .audi{
    width: 700px;
    height: 700px;
    margin-left: 30px;
    position: relative;
    top: -300px;
    left: -150px;
   
   
  }
  .assist{
    font-size: 43px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -775px;
    left: 835px;
    color:rgb(60, 60, 60);
  }
  .assist1{
    color: white;
    background-color: black;
    width: 152px;
    height: 42px;
    text-align: center;
    position: relative;
    top: -761px;
    left: 835px;
    padding-top: 15px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  
   
  }
  .cele{
    width: 700px;
    height: 700px;
    margin-left: 30px;
    position: relative;
    top: -430px;
    left: 40px;
    color:rgb(60, 60, 60);

  }
  .cele1{
    color:rgb(60, 60, 60);
    position: relative;
    top: -916px;
    left: 822px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .cele2{
    color: white;
    background-color: black;
    width: 152px;
    height: 42px;
    text-align: center;
    position: relative;
    top: -908px;
    left: 831px;
    padding-top: 15px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .bigone{
    width: 100%;
    height: fit-content;
    position: relative;
    top: -640px;
  }
  .whitebox{
    width: 640px;
    height: 300px;
    background-color: white;
    position: relative;
    top: -1410px;
    left: 126px;
  }
  .boxhead{
    padding-top: 30px;
    text-align: start;
    position: relative;
    left: 59px;
   top: -2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    font-size: 40px;
    color: rgb(60, 60, 60);
    
  }
  .boxpara{
    color: rgb(60, 60, 60);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 66px;
    top: 0px;
    font-size: 18px;
    text-transform: initial;
  }
.boxpara3{
  color: white;
  background-color: black;
  width: 152px;
  height: 42px;
  text-align: center;
  position: relative;
  top: 7px;
  left: 67px;
  padding-top: 15px;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.boxpara4{
  color: black;
  background-color: white;
  border: 1px solid black;
  width: 193px;
  height: 42px;
  text-align: center;
  position: relative;
  top: -68px;
  left: 225px;
  padding-top: 15px;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.black{
  background-color: black;
  width: 600px;
  height: 650px;
  position: relative;
  top: -997px;
  left: 0px;
}
.blackhead{
  color: white;
  position: relative;
  top: 50px;
  left: -84px;
  text-align: center;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.blackbox{
  
  color: white;
  background-color: black;
  border: 1px solid white;
  width: 193px;
  height: 42px;
  text-align: center;
  position: relative;
  top: 462px;
  left: 111px;
  padding-top: 15px;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: left;
  
}
.map{
  position: relative;
  top: -173px;
  left: 600px;
  width: 913px;
  height: 650px;
}
.secondblack{
  background-color: black;
  width: 865px;
  height: 750px;
  position: relative;
  top: -937px;
}
.secondpara1{
  color: white;
    font-size: 30px;
    position: relative;
    top: 380px;
    left: 83px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.connect{
  color: white;
    background-color: black;
    border: 1px solid white;
    width: 187px;
    height: 40px;
    text-align: center;
    position: relative;
    top: 400px;
    left: 79px;
    padding-top: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

}
.connect1{
  color: white;
    background-color: black;
    border: 1px solid white;
    width: 187px;
    height: 40px;
    text-align: center;
    position: relative;
    top: 315px;
    left: 275px;
    padding-top: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
  

}
.connectimg{
  width: 646px;
    height: 750px;
    position: relative;
    left: 676px;
    top: -256px;
}
.head5{
  position: relative;
  top: -835px;
  left: 50px;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;

}
.test1{
  width: 450px;
  height: 250px;
  position: relative;
  top: -784px;
  left: 50px;
  float: left;
}
.test2{
  width: 450px;
  height: 250px;
  position: relative;
  top: -784px;
  left: 56px;
  float: left;
}
.test3{
  width: 450px;
  height: 250px;
  position: relative;
  top: -784px;
  left: 62px;
 
}
.text1{
  position: relative;
  top: -782px;
  left:  50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: left;
}
.text2{
  position: relative;
  top: -782px;
  left:  390px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: left;
}
.text3{
  position: relative;
  top: -782px;
  left:  710px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: left;
  font-weight: bold;
}
.click1{
  position: relative;
  top: -742px;
  left:  -362px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  font-weight: bold;
}
.arrow5 {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  position: relative;
  top: -775px;
  left: 128px;
}
.right5 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.click2{
  position: relative;
    top: -812px;
    left: 513px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.arrow6 {
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    position: relative;
    top: -845px;
    left: 608px;
}
.right6 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.click3{
  position: relative;
  top: -880px;
  left: 971px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.arrow7 {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  position: relative;
  top: -913px;
  left: 1056px;
}
.right7 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.lastmodelhead{
  position: relative;
  top: -416px;
  left: 27px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.lastmodelcar{
  position: relative;
  top: -805px;
  left: 50px;
  width: 450px;
  height: 250px;
  float: left;
 
}
.lastmodelcar2{
  position: relative;
    top: -805px;
    left: 57px;
    width: 450px;
    height: 263px;
    float: left;
}
.lastmodelcar3{
  position: relative;
    top: -805px;
    left: 63px;
    width: 450px;
    height: 263px;
   
}
.lastmodelpara1{
  position: relative;
    top: -805px;
    left: 63px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

}

.lastmodelpara2{
  position: relative;
    top: -885px;
    left: 515px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    float: left;

}
.lastmodelpara3{
  position: relative;
  top: -870px;
  left: 620px;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;

}
.time1{
  position: relative;
    top: -833px;
    left: -294px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.arrow8 {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  position: relative;
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    position: relative;
    top: -868px;
    left: 156px;
}
.right8 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

}

.time2{
  position: relative;
    top: -938px;
    left: 514px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.arrow9 {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  position: relative;
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    position: relative;
    top: -973px;
    left: 609px;
}
.right9 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

}
.time3{
  position: relative;
  top: -1011px;
  left: 979px;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.arrow10 {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  position: relative;
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    position: relative;
    top: -1045px;
    left: 1072px;
}
.right10 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

}

.lastblack{
  background-color: black;
  width: 1540px;
  height: 1000px;
  position: relative;
  top: -945px;
  left: -10px;
}
.one{
  color: white;
  position: relative;
  top: 120px;
  left: 100px;
}
.blackfirsthead{
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.balckfirst{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.two{
  color: white;
  position: relative;
  top: 29px;
  left: 325px;
}
.blackfirsthead2{
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.balckfirst2{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.three{
  color: white;
  position: relative;
  top: -56px;
  left: 572px;
}
.blackfirsthead3{
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.balckfirst3{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.five{
  color: white;
    position: relative;
    top: -306px;
    left: 852px;
}
.blackfirsthead4{
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.balckfirst4{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.six{
  color: white;
  position: relative;
  top: -433px;
  left: 1096px;
}
.blackfirsthead5{
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.balckfirst5{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.back{
  color: white;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -298px;
    left: 254px;

}
.arrow11 {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  top: -329px;
  left: 340px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}



